table{
    margin-top:100px;
    border-collapse: collapse;
}
td{
    height:25px;
    width:25px;
    border:1px solid black;
}
div{
    width:80%;
    margin-left:10%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
button{
    height:50px;
    font-weight: bold;
    background-color:darkgoldenrod;
    border:5px solid black;
    border-radius:20px;
}
button:hover
{
    cursor:pointer;
}
.border{
    background-color:black;
}
.source{
    height:25px;
    width:25px;
    text-align: center;
    font-weight:bolder;
    font-size:15px;

}
.destination{
    height:25px;
    width:25px;
    text-align: center;
    font-weight:bolder;
    font-size:15px;
    
}
.discover{
    background-color:aquamarine;
}
.discovered{
    background-color:green;
}