body{


    background-size: cover;
}
.tableContainer{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:150px;
}
table{
    height:auto;
    width:auto;
    border-collapse:collapse;
}
td{
    height:28px;
    width:28px;
    border:0.5px solid #AB9C54;


}

.border{
    background-color:#36D7F1;
    border: none;
}
.button-container{
    width:100%;
    height:100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
button{
    background-color:black;
    color: white;
    width:250px;
    height:50px;
    font-weight:bold;
    font-size:15px;
    text-align:center;
}
 .destination
{
    text-align:center;
}
.source{
    background-image: url('../assets/source.svg');
    background-size: cover;
}
.destination{
    background-image: url('../assets/destination.svg');
    background-size: cover;
}
.discover{
    animation-name: fillDiscover;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode:both;
    animation-play-state:running;
}
@keyframes fillDiscover{
    0% {
        transform: scale(.3);
        background-color: #E8179A;
        border-radius: 100%;
      }
    
      50% {
        background-color: #D7CE5B;
      }
    
      75% {
        transform: scale(0.75);
        background-color: #BEC171
      }
    
      100% {
        transform: scale(1.0);
        background-color: #FFF641
      }

}
.discovered{
    animation-name: fillDiscovered;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode:both;
    animation-play-state:running;
}
@keyframes fillDiscovered{
    0% {
        transform: scale(.3);
        border-radius: 100%;
      }
    
      75% {
        transform: scale(0.75);
      }
    
      100% {
        transform: scale(1.0);
        background-color: #17E865
      }

}
.destinationFound{
    background-color: green;
}