body{


    background-size: cover;
}
table{
    height:auto;
    width:auto;

    border-collapse:collapse;
}
td{
    height:25px;
    width:25px;
    border:0.5px solid aqua;

}

.border{
    background-color:white;
}
.button-container{
    width:100%;
    height:100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
button{
    background-color:black;
    color: white;
    width:250px;
    height:50px;
    font-weight:bold;
    font-size:15px;
    text-align:center;
}
.source, .destination
{
    text-align:center;
}
.discover{
    height:25px;
    width:25px;
    animation-name: fillDiscover;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;

}
@keyframes fillDiscover{
    0% {
        transform: scale(.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
      }
    
      50% {
        background-color: rgba(17, 104, 217, 0.75);
      }
    
      75% {
        transform: scale(0.75);
        background-color: rgba(0, 217, 159, 0.75)
      }
    
      100% {
        transform: scale(1.0);
        background-color: rgba(0, 190, 218, 0.75);
      }

}
.destinationFound{
    background-color: green;
}