*{
    margin:0px;
    padding:0px;
}
:root{
    --primaryColor:#7a48f4;
}
body{
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
.navbarParent{
    position:sticky;
    top:0px;
    z-index:10;

}
.navbar{
    position:sticky;
    top:0px;
    padding:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primaryColor);
}
.headingContainer{
    color:white;
    margin-left:20px;
    margin-right:20px;
    font-size: 1.3rem;
    font-weight: 400;
    cursor:pointer;
}
.tableContainer{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
table{
    height:auto;
    width:calc(100% - 40px);
    border-collapse:collapse;
    margin-top:150px;
    margin-bottom:10px;
}
td{
    height:30px;
    width:30px;
    border:0.5px solid var(--primaryColor);
    background-color: none;
    text-align:center;
}

.border{
    display:none;
    background-color:var(--primaryColor);
    border: none;
}
.wall{
    background-color:var(--primaryColor);
    border: 5px solid white;
    outline: 1px solid var(--primaryColor);
    box-sizing: border-box;
}
.button-container{
    width:100%;
    height:50px;
    margin-top:20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
button,.algoSelector{
    background-color:white;
    border: 2px solid var(--primaryColor);
    color: var(--primaryColor);
    width:250px;
    height:50px;
    font-size:1.2rem;
    text-align:center;
    cursor:pointer;
    border-radius:5px;
    transition-duration:0.5s;
}
button:hover,.algoSelector:hover{
    background-color: var(--primaryColor);
    color: white;
}
 .destination
{
    text-align:center;
}
.source{
    background-image: url('../assets/source.svg');
    background-size: cover;
}
.destination{
    background-image: url('../assets/destination.svg');
    background-size: cover;
}
.discover{
    position:relative;
    z-index: 0;
    animation-name: fillDiscover;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode:both;
    animation-play-state:running;
}
@keyframes fillDiscover{
    0% {
        transform: scale(.3);
        background-color: #E8179A;
        border-radius: 100%;
      }
    
      50% {
        background-color: #D7CE5B;
      }
    
      75% {
        transform: scale(0.75);
        background-color: #BEC171
      }
    
      100% {
        transform: scale(1.0);
        background-color: var(--primaryColor)
      }

}
.discovered{
    position:relative;
    z-index: 0;
    animation-name: fillDiscovered;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode:both;
    animation-play-state:running;
}
@keyframes fillDiscovered{
    0% {
        transform: scale(.3);
        border-radius: 100%;
      }
    
      75% {
        transform: scale(0.75);
      }
    
      100% {
        transform: scale(1.0);
        background-color: #17E865
      }

}
.currentIteratorElement
{
    background-color: yellow !important;
}
.destinationFound{
    background-color: green;
}